#mliyl-project{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
#mliyl-project .mliyl-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}
#mliyl-project .mliyl-content{
  position: absolute;  
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  left: 50%;  
  height: calc(100% - 50px);
  width: 72%;
}
#mliyl-project .mliyl-rblock{
  background-color: #de6338;
  height: 100%;
  width: 21%;
  display: inline-block;
  vertical-align: middle;
}
#mliyl-project .mliyl-lblock{
  display: inline-block;
  vertical-align: bottom;
  width: 78.5%;
  position: relative;
  bottom: 0;
}
#mliyl-project .mliyl-info{
  position: relative;
  background-color: #41539e;
  margin-left: 15px;
  margin-bottom: 20px;
  color: white;
  height: 300px;
  font-family: 'Roboto', sans-serif;
}
#mliyl-project .mliyl-close{
  color: #de6338;
  position: absolute;
  top: 6px;
  right: 38px;
  font-size: 80px;
  cursor: pointer;
}
#mliyl-project .mliyl-text{
  background-color: #fce6ef;
  color: #41539e;
  font-size: 28px;
  line-height: 46px;
  padding: 32px;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  letter-spacing: 1.6px;
}
#mliyl-project .mliyl-text a{
  color: #41539e;
}