#mliyl-project{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  @media screen and (max-width: 850px){  
    display: none;
  }
  
  .mliyl-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .mliyl-content{
    position: absolute;  
    transform: translateX(-50%);  
    left: 50%;  
    height: 77%;
    width: 90%;
    max-width: 1100px;
    display: block !important;

    @media screen and (max-height: 800px){  
      height: 97%;
    }
  }
  .mliyl-rblock{
    background-color: #ff00a1;
    height: 100%;
    width: 21%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .mliyl-icon{
    position: absolute;
    transform: translate(-50%,-100%);
    top: 93.5%;
    left: 50%;
    width: 140px;
    display: block;
  }
  .mliyl-lblock{
    display: inline-block;
    vertical-align: bottom;
    width: 78.5%;
    position: relative;
    bottom: 0;
  }
  .mliyl-info{
    position: relative;
    background-color: #252626;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    height: 230px;
  }
  .mliyl-logo{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 50px;
    width: 200px;
  }
  .mliyl-close{  
    position: absolute;
    top: 30px;
    right: 45px;  
    transition: opacity .2s ease;
    cursor: pointer;
    width: 30px;
  }
  .mliyl-close:hover,
  .mliyl-contact img:hover{
    opacity: .8;
  }
  .mliyl-contact{
    position: absolute;
    bottom: 60px;
    right: 45px;
    
    a{
      display: inline-block;
      vertical-align: middle;

      & + a{
        margin-left: 15px;
      }
    }

    img{
      transition: opacity .2s ease;
    }
  }  
  .mliyl-site{
    width: 25px;
  }
  .mliyl-mail{
    width: 30px;
  }
  .mliyl-text{
    background-color: #c1f210;
    color: #000;
    font-size: 28px;
    line-height: 28px;
    padding: 34px 44px;  
    margin-left: 20px;
    letter-spacing: .6px;
    text-transform: uppercase;
    font-family: kazimir, sans-serif;
    font-weight: 400;
    text-align: left;

    
    a{
      font-family: kazimir, sans-serif;
      font-weight: 400;
      font-size: 28px;
      color: #001dff;
      text-decoration: none;
      border: none;
      background-color: transparent;
      line-height: inherit;
      text-align: left;
    
      &:hover{
        color: #001dff;
        text-decoration: underline;
        border: none;
        background-color: transparent;
      }
    }
  }
}