#mliyl-project{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  @media screen and (max-width: 850px){  
    display: none;
  }
  
  .mliyl-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .mliyl-content{
    position: absolute;  
    transform: translateX(-50%);  
    left: 50%;  
    height: 77%;
    width: 90%;
    max-width: 1100px;
    display: block !important;

    @media screen and (max-height: 800px){  
      height: 97%;
    }  
  }
  .mliyl-rblock{
    background-color: #ff00a1;
    height: 100%;
    width: 21%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .mliyl-icon{
    width: 140px;
    display: block;
  }




}